<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_user</string>
			<key>label</key>
			<string>Username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_password</string>
			<key>label</key>
			<string>Password</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_server</string>
			<key>label</key>
			<string>Server</string>
		</dict>
		<!--dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_regtimeout</string>
			<key>label</key>
			<string>Reg-Timeout</string>
		</dict-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>siphonOverEDGE</string>
			<key>label</key>
			<string>Siphon over EDGE</string>
			<key>requiredCapabilities</key>
			<array>
				<string>telephony</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_nat</string>
			<key>label</key>
			<string>Enable Nat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_stunDomain</string>
			<key>label</key>
			<string>STUN Domain</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_stunServer</string>
			<key>label</key>
			<string>STUN Server</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.google.code.siphon</string>
			<key>key</key>
			<string>sip_loggingEnabled</string>
			<key>label</key>
			<string>Debugging log file</string>
		</dict>
	</array>
	<key>title</key>
	<string>SIPiPhone</string>
</dict>
</plist>
